<form action="/snippet/<%= @snippet.id %>/edit" method="post" class="left delete-form">
 <input name="_method" type="hidden" value="delete">
 <button type="submit" class="btn red right">Yes</button>
 <a href="/" class="btn green">No</a>
</form>
