<form class="" action="/folder/<%= @folder.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="update_name">Update Name</label>
  <input type="text" name="update_name" id="update_name" required>
  <button type="submit" class="btn green">Update</button>
</form>

<form action="detele" method="destory">
  <input name="_method" type="hidden" value="delete">
</form>

<form action="/folder/<%= @folder.id %>" method="post" class="left delete-form">
 <input name="_method" type="hidden" value="delete">
 <button type="submit" class="btn red right">Delete</button>
</form>
