
<div class="row">
  <div class="col s1 mynav">
    <div class="">
      <br>
      <br>
      <br>
    </div>
    <!-- Grey navigation panel -->
    <div class="languages">
      <a class="btn-floating btn-large waves-effect waves-light red top" href="/one"><i class="medium material-icons top">settings_ethernet</i></a>.
      <a class="btn-floating btn-large waves-effect waves-light red top"><i class="medium material-icons top">settings</i></a>.
      <a class="btn-floating btn-large waves-effect waves-light red top"><i class="medium material-icons top">assignment</i></a>.
      <a class="btn-floating btn-large waves-effect waves-light red top"><i class="medium material-icons top">verified_user</i></a>.
      <a class="btn-floating btn-large waves-effect waves-light red top"><i class="medium material-icons top">dashboard</i></a>.
    </div>

  </div>
  <div class="col s3 myfolders">
    <div class="">
      <br>
    </div> <center>
    <div class="chip">
      <img src="<%= current_github_avatar %>" alt="Contact Person">
      <%= current_github_username %>
    </div>
  </center>

  <ul class="collapsible " data-collapsible="accordion">
    <li>
      <div class="collapsible-header blue-grey lighten-4 "><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body blue-grey lighten-3 "><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header blue-grey lighten-4 "><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body blue-grey lighten-3 "><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header blue-grey lighten-4 "><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body blue-grey lighten-3 "><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>

  </div>

  <div class="col s8 8 mycont">
    <div class="">
      <br>
    </div>
    <!-- Teal page content  -->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
