

<div class="container">
  <div id="main">
    <div id="main-nav">
      <ul>
        <li class="btn"><a href="/">Home</a></li>
        <li class="btn"><a href="/">HTML</a></li>
        <li class="btn"><a href="/">CSS</a></li>
        <li class="btn"><a href="/">Ruby</a></li>
        <li class="btn"><a href="/">JavaScript</a></li>
      </ul>
      <div id="folder-nav">
        <span class="folder-title">Folders</span>
      </div><!-- folder-nav end -->
    </div><!-- main nav end -->
    <div id="content">
      <h4>Content</h4>
      <div id="snippit_input">
      </div><!-- snippit end -->
    </div>
  </div><!-- main end -->
</div><!-- container end -->
