
 <div class="nav-wrapper">
   <form>
     <div class="input-field lightgrey">
       <input id="search" type="search" required>
       <label for="search"><i class="material-icons">search</i></label>
       <i class="material-icons">close</i>
     </div>
   </form>
 </div><br><br>
  <div class="welcome">
    <a href="/">Code Snippets Logo</a><br><br><br>
    Welcome
  </div>
  <div class="home-content">
    <p>Code Snippets allows you to save folders and snippets of code.</p>
    <br>
    <div class="import">
      <a href="/" class="waves-effect waves-light btn darkblue" onclick="logout()">Import Snippets from Gist</a>
    </div>
    <div class="footer">2016-2017 - All rights reserved by Diego Suarez, Kevin Finley,  Joshua Rinard, Getro Naissance -  <a href="https://github.com/DiegoSPB/coding_notes">View on Github</a></span>
    </div>
  </div>
