<div class="welcome">
  <img src="/img/Code_Notes_Black.png" width="300" alt="" ><br>Welcome <br>
  <div class="home-content">
    <p>Code Snippets allows you to save folders and snippets of code.</p><br>
    <div class="import">
      <small><center> Click the button to import your gists into the local library. If your gists have file extensions we will organize them automatically. <br>
      If you want to add them manualy add a folder first</center></small><br>
      <form class="" action="import_gists" method="post">
        <button class="waves-effect waves-light btn darkblue" type="submit" name="button">Import from your Gists</button>
      </form>
    </div>
    <div class="footer">2016-2017 - All rights reserved by Diego Suarez, Kevin Finley,  Joshua Rinard, Getro Naissance -  <a href="https://github.com/DiegoSPB/coding_notes">View on Github</a></span>
    </div>
  </div>
</div>
