<html>
<head>
  <title></title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
  <link href="/css/jquery-linedtextarea.css" type="text/css" rel="stylesheet" />
</head>
<body>

  <% if authenticated? %>
  <div class="row">
    <div class="col s1 mynav">
      <div class="">
        <br>
        <br>
        <br>
      </div>
      <!-- Grey navigation panel -->
      <div class="languages">
        <a class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="Ruby"><i class="medium material-icons top"><img src="img/ruby-icon.png"></i></a>
        <a class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="HTML"><i class="medium material-icons top"><img src="img/html-icon.png"></i></a>
        <a class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="CSS"><i class="medium material-icons top"><img src="img/css-icon.png"></i></a>
        <a class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="JAVASCRIPT"><i class="medium material-icons top"><img src="img/js-icon.png"></i></a>
      </div>
    </div>
    <div class="col s3 myfolders">
      <div class="">
        <br>
      </div> <center>
      <div class="chip">
        <img src="<%= current_github_avatar %>" alt="Contact Person">
        <%= current_github_username %>
      </div>
    </center>

    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header blue-grey lighten-4 "><i class="material-icons">web</i>Sinatra <i class="fa fa-cogs" aria-hidden="true"></i></div>
        <div class="collapsible-body blue-grey lighten-3">
            <div class="collapsible-header blue-grey lighten-4 "><a href="/lines"><i class="material-icons">code</i>Snippet 01</a></div>
            <div class="collapsible-header blue-grey lighten-4 "><a href="/2"><i class="material-icons">code</i>Snippet 02</a></div>
            <div class="collapsible-header blue-grey lighten-4 "><a href="/3"><i class="material-icons">code</i>Snippet 03</a></div>
        </div>
      </li>
      <li>
        <div class="collapsible-header blue-grey lighten-4 "><i class="material-icons">web</i>oAuth</div>
        <div class="collapsible-body blue-grey lighten-3 ">
            <div class="collapsible-header blue-grey lighten-4 "><a href="/1"><i class="material-icons">code</i>Snippet 01</a></div>
            <div class="collapsible-header blue-grey lighten-4 "><a href="/2"><i class="material-icons">code</i>Snippet 02</a></div>
            <div class="collapsible-header blue-grey lighten-4 "><a href="/3"><i class="material-icons">code</i>Snippet 03</a></div>
        </div>
      </li>
      <li>
        <div class="collapsible-header blue-grey lighten-4 "><i class="material-icons">web</i>Enumberables</div>
        <div class="collapsible-body blue-grey lighten-3 ">
            <div class="collapsible-header blue-grey lighten-4 "><a href="/1"><i class="material-icons">code</i>Snippet 01</a></div>
            <div class="collapsible-header blue-grey lighten-4 "><a href="/2"><i class="material-icons">code</i>Snippet 02</a></div>
            <div class="collapsible-header blue-grey lighten-4 "><a href="/3"><i class="material-icons">code</i>Snippet 03</a></div>
        </div>
      </li>

    </ul>

    </div>

    <div class="col s8 8 mycont">
      <div class="">
        <br>
      </div>
  <%= yield %>
    </div>
  <% else %>
  <div class="back">
    <div class="container">
        <div class="row">
            <div class="col-md-12 centerIt">
              <div class="wrap">
                  <a href="/login" class="waves-effect waves-light btn brown darken-3">Sing in with GitHub</a>
              </div>
            </div>
        </div>
    </div>
  </div>

  <% end %>

  <!-- Kevin's modal -->
  <div id="snippet_input">
  <a class="waves-effect waves-light btn modal-trigger" href="#new"><i class="material-icons">add</i></a>

  <div id="new" class="modal modal-form">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col s12">
            <button type="button" class="modal-close waves-effect waves-light btn right">x</button>
            <h4><b>New Snippet</b></h4>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form  action="/new" method="post">
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12 m12">
                  <input id="title" name="title" type="text" required>
                  <label for="title"><b>Title</b></label>
                </div>
                <div class="input-field col s12 m6">
                  <div class="chips">
                  </div>
                </div>
                <div class="input-field col s12 m6">
                  <input id="description" name="description" type="text" required>
                  <label for="description"><b>Description</b></label>
                </div>
                <div class="input-field col s12">
                  <input id="code" name="code" type="text" required>
                  <label for="code"><b>Code</b></label>
                </div>
                <div class="input-field col s6">
                  <select>
                    <option value="" disabled selected>Select a Language</option>
                    <option value="1">.net</option>
                    <option value="2">CSS</option>
                    <option value="3">Ruby</option>
                    <option value="4">Javascript</option>
                    <option value="5">Android</option>
                  </select>
                  <label>Langauge</label>
                </div>
                <div class="input-field col s6">
                  <select>
                    <option value="" disabled selected>Choose a Folder</option>
                    <option value="1">Random</option>
                    <option value="2">Bash</option>
                    <option value="3">Personal</option>
                    <option value="4">Work</option>
                    <option value="5">Fun</option>
                  </select>
                  <label>Folder</label>
                </div>
              </div>
              <div class="row">
                <div class="switch">
                  <label>
                    Public (off)
                    <input type="checkbox">
                    <span class="lever"></span>
                    Private (on)
                  </label>
                </div>
              </div>
              <button class="btn waves-effect waves-light btn" type="submit">Enter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery-linedtextarea.js"></script>
</body>
</html>
