<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <link href="/css/jquery-linedtextarea.css" type="text/css" rel="stylesheet"/>
    <link href="/css/prism.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/3b17266ea8.js"></script>
    <script>
function openWin() {
  window.open("http://www.github.com/logout");
}
    </script>
  </head>
  <body>
    <% if authenticated? %>
      <div class="row">
        <%= erb :sidebar_nav %>
        <div class="col s3 m6 l8 float-fix" id="yield"><br>
          <div class="nav-wrapper sticky-search">
            <form action="/search/results" method="post">
              <div class="input-field lightgrey">
                <input id="search" name="name" type="search" required>
                <label for="search" id="dont"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div><br><br>
          <%= yield %>
        </div> <!-- close row-->
      </div>
    <%= erb :modal %>

    <% else %> <!-- else for authentication -->
      <div class="login-back">
        <div class="container">
          <div class="row tall-row" id="row-override">
            <div class="col s12 login-center">
              <div id="login-box">
                <div class="login-button-space">
                  <img src="/img/Code_Notes_Black.png" width="300" alt="Login with Github" class="login-logo-left"><br>
                  <a href="/login" class="waves-effect waves-light btn darkblue"><span class="fa fa-github"></span>  Sign in with GitHub</a>
                </div><!-- login-button space end -->
              </div>      <!-- login-box end -->
            </div>
          </div>
        </div>
      </div>
    <% end %> <!-- close authentication -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery-linedtextarea.js"></script>
  </body>
</html>
