<html>
<head>
  <title></title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <ul>
  <% if authenticated? %>
      <li><a href="/snippets">All snippets</a></li>
      <li><a href="/logout">Logout</a></li>
      <li style="background-size: contain; background-repeat: no-repeat; background-image: url(<%= current_github_avatar %>)">
        <a href="<%= current_github_url %>">&nbsp;</a></li>
  <% else %>
      <li><a href="/login">Login</a></li>
  <% end %>
</ul>
</div>
<div class="container">
  <%= yield %>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
