<div class="back">
  <div class="container">
      <div class="row">
          <div class="col-md-12 centerIt">
            <div class="wrap">
                <a href="/login" class="waves-effect waves-light btn brown darken-3">Sing in with GitHub</a>
            </div>
          </div>
      </div>
  </div>
</div>
