<!-- Kevin's modal -->
<div class="fixed-action-btn horizontal click-to-toggle bottom-push">
  <a class="btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating blue modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="New Folder" href="#new_folder"><i class="material-icons">library_add</i></a>
    </li>
    <li>
      <a class="btn-floating purple modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="New Snippet" href="#new_snippet"><i class="material-icons">note_add</i></a>
    </li>
  </ul>
</div>

<!-- folder form -->
<div id="new_folder"class="modal modal-form">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col s12">
          <button type="button" class="modal-close waves-effect waves-light btn right darkblue">x</button>
          <h4><b><span class="darkblue-text">New Folder</span></b></h4>
        </div>
      </div>
    </div>
    <form action="/new_folder" method="post">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m12">
              <input id="name" name="name" type="text" required>
              <label for="name"><b>Name</b></label>
              
             </div> <!-- input field end -->
<div class="col s12">
  <label>Select a Language</label>
<form action="#">
  <p>
      <input name="selected-language" value="html" type="radio" id="html" />
      <label for="html">HTML</label>

      <input name="selected-language" value="css" type="radio" id="css" />
      <label for="css">CSS</label>

      <input name="selected-language" value="javascript" type="radio" id="javascript"/>
      <label for="javascript">Javascript</label>

      <input name="selected-language" value="ruby" type="radio" id="ruby"/>
      <label for="ruby">Ruby</label>

      <input name="selected-language" value="favorites" type="radio" id="favorites"/>
      <label for="favorites">Favorites</label>

      <input name="selected-language" value="uncategorized" type="radio" id="uncategorized" checked="checked" />
      <label for="uncategorized">Uncategorized</label>
    </p>

  </div> <!-- col end -->

            <button class="btn waves-effect waves-light btn custom-button" type="submit">Enter</button><br><br>
</form>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>





<div id="new_snippet" class="modal modal-form">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col s12">
          <button type="button" class="modal-close waves-effect waves-light btn right darkblue">x</button>
          <h4><b><span class="darkblue-text">New Snippet</span></b></h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <form  action="/new_snippet" method="post">
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12 m6">
                <input id="title" name="title" type="text" required>
                <label for="title"><b>Title</b></label>
              </div>
              <div class="input-field col s12 m6">
                <input id="description" name="description" type="text" required>
                <label for="description"><b>Description</b></label>
              </div>
              <div class="input-field col s12 m12 up">
                <label for="">Enter Tags</label><br><br>
                <div class="chips" name='tags'>
                </div>
              </div>

              <div class="input-field col s12">
                <textarea id="textarea1" class="lined" name='content'>
                def enter_code
                  puts('here')
                end
                </textarea>
              </div>
              <div class="input-field col s6">
                <select>
                  <option value="ruby">Ruby</option>
                  <option value="html">HTML</option>
                  <option value="css">CSS</option>
                  <option value="javascript">Javascript</option>
                  <option value="uncategorized" selected>Uncategorized</option>
                </select>
                <label>Langauge</label>
              </div>
              <div class="input-field col s6">
                <select name="folder_id">
                  <option value="" disabled selected>Choose a Folder</option>
                  <% if @folders.any? %>
                    <% @folders.each do |folder| %>
                      <option value="<%= folder.id %>"> <%= folder.name %></option>
                    <% end %>
                  <% end %>
                </select>
                <label>Folder</label>
              </div>
              <div class="input-field col s6">
                <select>
                  <option disabled selected>Select a Language</option>
                  <option value="1">Ruby</option>
                  <option value="2">HTML</option>
                  <option value="3">CSS</option>
                  <option value="4">Javascript</option>
                </select>
                <label>Langauge</label>
              </div>
            </div> <!-- close row -->
            <div class="row">
              <div class="switch">
                <label>
                  Public (off)
                  <input type="checkbox" name="public">
                  <span class="lever"></span>
                  Private (on)
                </label>

                <p>Save on Gist?</p>
                <label>
                  No
                  <input type="checkbox" name="save_git">
                  <span class="lever"></span>
                  Yes
                </label>

                <p>Add to Favorites</p>
                <label>
                  No
                  <input type="checkbox" name="add_to_fav">
                  <span class="lever"></span>
                  Yes
                </label>
              </div>
            </div>
            <button class="btn waves-effect waves-light btn lightblue" type="submit">Enter</button>
          </div><br><br>
        </div> <!-- close row -->
      </form>
    </div> <!-- close modal body -->
  </div> <!-- close modal content-->
</div> <!-- close id snippet-->
