
<div class="fixed-action-btn horizontal click-to-toggle bottom-push">
  <a class="btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating blue modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="New Folder" href="#new_folder"><i class="material-icons">library_add</i></a>
    </li>
    <% if Folder.find_by(:language => $language) != nil%>
    <li>
      <a class="btn-floating purple modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="New Snippet" href="#new_snippet"><i class="material-icons">note_add</i></a>
    </li>
    <% end %>
  </ul>
</div>

<!-- folder form -->
<div id="new_folder"class="modal modal-form">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col s12">
          <button type="button" class="modal-close waves-effect waves-light btn right darkblue">x</button>
          <h4><b><span class="darkblue-text">New Folder for <%=$language.upcase  %> </span></b></h4>
        </div>
      </div>
    </div>
    <form action="/new_folder" method="post">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m12">
              <input id="name" name="name" type="text" required autofocus maxlength=16>
              <label for="name"><b>Name</b></label>
             </div> <!-- input field end -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="new_snippet" class="modal modal-form newSnippet">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col s12">
          <button type="button" class="modal-close waves-effect waves-light btn right darkblue">x</button>
          <h3><b><span class="darkblue-text">New Snippet for <%=$language.upcase  %> </span></b></h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <form  action="/new_snippet" method="post">
        <div class="row">
          <div class="row">
            <div class="col s6">
            <div class="switch col s4">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPublic <br>
              <label>
                NO
                <input type="checkbox" name="public">
                <span class="lever"></span>
                YES
              </label>
            </div>
            <div class="switch col s4">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSave on Gists <br>
              <label>
                NO
                <input type="checkbox" name="save_git">
                <span class="lever"></span>
                YES
              </label>
            </div>
            <div class="switch col s4">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFavorite <br>
              <label>
                NO
                <input type="checkbox" name="add_to_fav">
                <span class="lever"></span>
                YES
              </label>
            </div>
          </div>
          <!-- <div class="col s6">
            <div class="input-field col s6 m6 ">
              <label for="">Enter Tags</label><br><br>
              <div class="chips" name='tags'>
              </div>
            </div>
          </div> -->
          </div>
          </div>
          <div class="row">
              <div class="input-field col s6 m6">
                <input id="title" name="title" type="text" autofocus required maxlength=16>
                <label for="title"><b>Title</b></label>
              </div>
              <div class="input-field col s6">
                <select name="folder_id">
                  <% if @folders.any? %>
                    <% @folders.each do |folder| %>
                      <option value="<%= folder.id %>"> <%= folder.name %></option>
                    <% end %>
                  <% end %>
                </select>
                <label>Folder</label>
              </div>
            </div>
              <div class="row">
              <div class="input-field col s6">
                <textarea id="textarea1" class="lined" name='content'>
Enter your code here!
                </textarea>
              </div>
              <div class="input-field col s6">
                <textarea id="textarea1" class="lined" name='description'>
Enter snippet's description here!
                </textarea>
              </div>
            </div>
            </div>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn waves-effect waves-light btn lightblue" type="submit">Enter</button>

          </div>
        </div> <!-- close row -->

      </form>
    </div> <!-- close modal body -->
  </div> <!-- close modal content-->
</div> <!-- close id snippet-->
