<hr>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="search-header darkblue-text">Coding Snippet Notes</h2>
    <h4 class="search-subtitle">Your results are below</h4>
  </div>
</div>
<hr>

<div class="row">
  <div class="col m6">
    <div class="search-box">
    <h1><span class=" search-cat darkblue-text">Folder<g>(</g>s<g>)</g></span></h1>
    <% if @folderSearch.any? %>
      <ul>
        <% @folderSearch.each() do |folder|%>
          <li> <%= folder.name() %> </li>
        <% end %>
      </ul>
      <% elsif @snippetSearch.any? %>
      <ul>
        <%@snippetSearch.each() do |snippet| %>
            <% if snippet != nil %>
          <li><span class="darkblue-text"><%= Folder.find(snippet.folder_id()).name()%></span></li>
          <% end %>
        <% end %>
      </ul>
      <% else %>
        No folders
      <%end %>
    </div>
  </div>  <!-- search box end -->


  <div class="col m6">
  <div class="search-box">
      <h1><span class=" search-cat darkblue-text">Snippet<g>(</g>s<g>)</g></span></h1>
      <% if @snippetSearch.any? %>
      <ul>
        <%@snippetSearch.each() do |snippet| %>
          <li> <a href="/snippet/<%=snippet.id() %>"><%= snippet.title()%></a></li>
        <% end %>
      </ul>
      <% else %>
      No Snippets
      <%end %>
  </div>
</div>
</div>  <!-- search box end -->
