<div class="row">
  <div class="col-md-6">
    <% if @folderSearch.any? %>
    <ul>
      <% @folderSearch.each() do |folder|%>
        <li><%= folder.name() %></li>
      <%end %>
    </ul>
    <% else %>
      No folders
    <%end %>
  </div>
  <div class="col-md-6">
    <% if @snippetSearch.any? %>
    <ul>
      <%@snippetSearch.each() do |snippet| %>
        <li> <%= snippet.title()%> </li>
      <% end %>
    </ul>
    <% else %>
    No Snippets
    <%end %>
  </div>
</div>
