<hr>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Coding Snippet Notes</h2>
    <h5 class="lead"> The query has yielded the following results</h5>
  </div>
</div>
<hr>


<div class="row">
  <div class="col m6">
    <h1>Folder(s):</h1>
    <% if @folderSearch.any? %>
      <ul>
        <% @folderSearch.each() do |folder|%>
          <li> <%= folder.name() %> </li>
        <% end %>
      </ul>
      <% elsif @snippetSearch.any? %>
      <ul>
        <%@snippetSearch.each() do |snippet| %>
            <% if snippet != nil %>
          <li><%= Folder.find(snippet.folder_id()).name()%></li>
          <% end %>
        <% end %>
      </ul>
      <% else %>
        No folders
      <%end %>
    </div>



  <div class="col m6">

      <h1>Snippet(s):</h1>
      <% if @snippetSearch.any? %>
      <ul>
        <%@snippetSearch.each() do |snippet| %>
          <li> <a href="/snippet/<%=snippet.id() %>"><%= snippet.title()%></a></li>
        <% end %>
      </ul>
      <% else %>
      No Snippets
      <%end %>
  </div>
</div>
