body {
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
h5 {
  color: #fff;
}
w {
  color: #fff;
  font-weight: bold;
}
.languages{
  margin-top: 50%;
}
/*.navfixed {
  position: fixed;
}*/
.mynav{
  max-width: 80px;
  min-width: 80px;
  background-color: #37474f;
  overflow: hidden;
  height:100vh;

}
.myfolders{
  max-width: 230px;
  min-width: 230px;
  background-color: #607d8b;
  overflow: auto;
  height:100vh;
}
.rounded{
  border-radius: 10px;
}
.back {
    background: url('/img/back.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    height:100vh;
}
.centerIt {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  }
.login-center {
  position: absolute;
  top: 50%;
  }
#yield{
  height: 100%;
  overflow: visible;
}
img {
  margin-top: 35%;
}
.space {
  margin-top: 25px;
}
#logout-button {
  position: absolute;
  bottom: 4.5em;
  left: 134px;
}
.welcome{
  color: #888;
  font-size: 2em;
  text-align: center;
}
.side {
  right: 30px;
}
.lightblue {
  background-color: #607d8b;
}
.lightblue:hover {
  background-color: #37474f;
}
.lightblue:active{
  background-color: #000;
}
.lightblue:visited{
  background-color: #37474f;
}
.lightgrey {
  background-color: #fff;
  box-shadow: 2px 2px 2px #999;
}
.darkblue-text {
 color: #37474f;
}
.darkblue {
 background-color: #37474f;
}
.darkblue:hover {
  background-color: #37474f;
}
.darkblue:active{
  background-color: #000;
}
.darkblue:visited{
  background-color: #37474f;
}

.custom-button{
  background-color: #607d8b;
}
.custom-button:hover {
  background-color: #37474f;
}
.custom-button:active{
  background-color: #000;
}
.custom-button:visited{
  background-color: #607d8b;
}
.page-footer {
  position: fixed;
  z-index: 5;
  bottom: 0px;
  width: 100%;
  max-height: 50px;
}
.bottom-push {
  bottom: 4.5em;
}
.home-content {
  font-style: italic;
  color: #999;
  font-size: 0.6em;
  text-align: center;
}
.footer {
  font-size: 0.6em;
  text-align:center;
  margin-top: 400px;
}
.import {
  text-align: center;
}
.search-center {
  text-align: center;
}
#textarea1{
  height: 130px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #888;
  margin-top: -20px;
  margin-bottom: 20px;
  border: solid thick #999;
}

.input-field input[type=text]:focus + label {
  color: #37474f;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #37474f;
  box-shadow: 0 1px 0 0 #37474f;
}
.up {
  margin-top:-25px;
}
.chips {
  /*margin-top:-30px;*/
  padding-bottom: -40px;
}
.modal-body {
  overflow: visible;
}
/*
#scrollable {
overflow: scroll;
}*/
.edit-folder {
  float: right;
}
.settings-icon {
  float: right;
  margin-left: 20px;
  margin-top:4px;
}

.home-button {
  margin-left: 15px;
}
.material-icons{
  color: #607d8b;
}
.language-title {
  color: #fff;
  font-size: 1em;
}
.input-field label#dont{
  transform: translateY(0);
}

#textarea2{
  height: 130px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #888;
  margin-bottom: 20px;
}
#textarea-comments{
  height: 130px;
  margin-bottom: 20px;
  background-color: #fff;
}

.update-box {
  border: thin solid #000;
  padding: 20px;
}

.text-label {
  color: #888;
}

#search {
  margin-top: -35px;
}

.background {
  background-color: #607d8b;
  color: white;
}
